

		<footer>
			<div>
				<a class="lien-footer" href="/issam/ShoesRental/index.php">Accueil -</a>  
				<a class="lien-footer" href="/issam/ShoesRental/index.php/shoes">Chaussures -</a> 
				<a class="lien-footer" href="/issam/ShoesRental/index.php/contact">Nous contacter</a> 
				<p>© 2017 ShoesRental</p>
			</div>
		</footer>
	</body>
</html>


