{% extends 'templates/base_layout.twig' %}

	{% block title %}
		{{ parent() }} Accueil
	{% endblock %}

	{% block content %}
		<div class="shoesContainer">
			{% for i in 0..5 %}
				
				<div class="shoes" data-pid=""> 
							
					</p>
					<img class="shoesImage" src="/issam/ShoesRental/Assets/images/img1.jpg"><br>			
					<div> <h5><strong>HAIX PROTECTOR FOREST</strong></h5> </div>
					<div class="shoesDescription"> </div><br>
					<div> <strong class="price">Prix : <span>129<sup>€00</sup><span></strong> </div><br>
								
					<div class="ajouterPanier margin-bottom">
						<a href="">Ajouter</a>
					</div>
				</div>
			
			{% endfor %}
		</div>

	{% endblock %}