<!doctype html>
<html lang="fr">

	<head>
		<link rel="stylesheet" type="text/css" href="/issam/ShoesRental/Assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/issam/ShoesRental/Assets/css/styles.css">
		<meta charset="UTF-8">
		<title>
			{% block title %}
				ShoesRental -
			{% endblock %}
		</title>		
	</head>

	<body>
		<header>
			<div class="header">
				<a class="enregistrer" href="/issam/ShoesRental/index.php/userRegister">Mon compte</a>

				<div class="container">
					<div class="row">
						<div class="col-lg-4 ">
							 <form action="/issam/ShoesRental/index.php/search" method="get" role="search">
					            <div class="input-group custom-search-form">
					              <input type="text" class="form-control" placeholder="Rechercher une marque, un magasin...">
					              <span class="input-group-btn">
					              <button class="btn btn-primary" type="submit">
					              <span class="glyphicon glyphicon-search"></span>
					             </button>
					             </span>
					            </div>
				        	 </form>
				        </div>
					</div>
				</div>
			</div>	
			<div class="button">
				<ul>				
					<li><a href="/issam/ShoesRental/index.php">Accueil</a></li>
					<li><a href="/issam/ShoesRental/index.php/shop">Mon magasin</a></li>
					<li><a href="/issam/ShoesRental/index.php/shoes">Chaussures</a></li>
				
				</ul>
			</div>
		</header>

			{% block content %}

			{% endblock %}

		<footer>
			<div>
				<a class="lien-footer" href="/issam/ShoesRental/index.php">Accueil -</a>  
				<a class="lien-footer" href="/issam/ShoesRental/index.php/shoes">Chaussures -</a> 
				<a class="lien-footer" href="/issam/ShoesRental/index.php/contact">Nous contacter</a> 
				<p>© 2017 ShoesRental</p>
			</div>
		</footer>
	</body>
</html>


